.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Desktop */
@media (min-width: 768px) {
  .app-layout {
    flex-direction: row;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .app-layout {
    flex-direction: column-reverse;
  }
}
